* {
  box-sizing: border-box;
}

html, body {
  font-family: "Gothic A1", sans-serif;
  font-size: 62.5%;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 100rem;
  background-color: white;
  /* overflow-x: hidden;  */ /*This needs to be off in order for "sticky" to function.*/
}

/* Navigation bar */
.navigation {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

.container {
  width: 100%;
  max-width: 100rem;
  display: flex;
  height: 4.5rem;
  background-color: #005cb9;
  text-align: left;
  align-items: center;
  color: white;
  box-shadow: 0rem .2rem .3rem 0 rgba(0,0,0,.2);
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  /* flex-grow: 1; */
  list-style-type: none;
  justify-content: flex-start;
}

li {
  padding: 0rem 1rem;
  line-height: 3.5rem;
  font-weight: 600;
  transition: ease-in-out 0.5s;
}

li:link,
li:visited {
  transition: all 0.5s;
}

li a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
  display: inline-block;
}

li:hover a {
  color: #ff4291;
  transform: scale(1.05);
  transform: translateY(-.1rem);
  text-shadow: 0rem .3rem .5rem rgba(129, 33, 73, 0.664);
}

li:active a {
  transform: scale(1);
  transform: translateX(0rem);
  text-shadow: 0rem .1rem .3rem rgba(155, 39, 87, 0.664);
}

/* .container-center {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  width: 33.3%;
  height: 42px;
  background-color: #005cb9;
  text-align: center;
  align-items: center;
  color: white;
} */

/* .container-right {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  width: 33.3%;
  height: 42px;
  background-color: #005cb9;
  text-align: center;
  align-items: center;
  color: white;
} */

.button_container {
  display: flex;
  margin-left: auto;
  margin-right: 2.5rem;
}


button {
  height: 2.0rem;
  width: 2.0rem;
  background-color: white;
  border: .2rem solid white;
  transition: 0.25s all ease-in-out;
  display: flex;
  z-index: 2;
  color: white;
  transition: 0.25s all ease;
}

button:hover {
  box-shadow: 0rem 0rem 2rem -.5rem white;
  transform: scale(1.1);
  border-radius: 50%;
  background-color: #ff4291;
}

button::before {
  content: "signup/login    ";
  font-weight: 300;
  font-size: 1.4rem;
  width: 10rem;
  height: 3.5rem;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 1;
  top: 0rem;
  left: -9.5rem;
  opacity: 0;
  transition: 0.3s left ease-in-out 0.1s, 0.3s opacity ease-in-out;
}

button:hover::before {
  left: -9.5rem;
  opacity: 1;
  transition: 0.3s left ease-in-out, 0.3s opacity ease-in-out 0.1s;
}

/* End Naviagtion Bar */
/* Header Begin */


.h1_container {
  width: 100%;
  height: 7rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

    h1 {
      letter-spacing: .2rem;
      font-weight: 800;
      font-size: 4.5rem;
      color:#005cb9;
      margin-top: 1.9rem;
      margin-bottom: .5rem;
    }

.h2_container {
  width: 100%;
  height: 3.5rem;
  display: flex;
  margin: auto;
  align-content: center;
  justify-content: center;
}

    h2 {
      font-weight: 400;
      font-size: 1.7rem;
      color:#005cb9;
      margin-top: 0rem;
      margin-bottom: 1rem;
    }

/* Header End */
/* Main Begin */

/* main {
} */

.mission_background {
  background-image: url(../images/Top.jpg);
  background-size: cover;
  margin: auto;
  height: 44.4rem;
  max-width: 90%;
  animation: intro 2s ease-in-out 0.25s 1 normal forwards;
  position: relative;
  animation-fill-mode: backwards; 
}

.statements,
.statement-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s all ease;
  /* mix-blend-mode: multiply; */
}

.statements.active {
  opacity: 1;
}

.mission_statement .statement-overlay {
  background-image: url(../images/Top.jpg);
  background-size: cover;
}

.challenge_statement .statement-overlay {
  background-image: url(../images/challenge_harimoto.jpg);
  background-size: fill;
}

.events_statement .statement-overlay {
  background-image: url(../images/map_w_pins.jpg);
  /* background-color: rgb(238, 255, 0); */
}

.clubs_statement .statement-overlay {
  background-image: url(../images/boll5_12d14_f_666x375.jpg);
  background-size: cover;
  /* background-color: rgb(255, 0, 149); */
}

.forum_statement .statement-overlay {
  background-image: url(../images/timo_and_ma_long.jpg);
  background-size: cover;
  /* background-color: rgba(64, 62, 65, 0.616); */
}

.statements.active .statement-overlay {
  opacity: 1;
}

h3 {
  margin: 2rem 0rem 0rem 2rem; 
  align-self: center;
  text-align: left;
  width: 85%;
  font-weight: 800;
  font-size: 4rem;
  color: white;
  opacity: 0.9;
}

.events_statement h3 {
  color:#005cb9;
}

@keyframes intro {
  0% {
    display: hidden;
    height: .1rem;
    width: .1rem;
    transform: translateX(50%);
    transform: translateY(50%);
  }
  25% {
    height: .1rem;
    width: 90rem;
    transform: translateX(50%);
    transform: translateY(50%);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

/* Main End */
/* Footer Begin */

footer {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100rem;
  height: 4.5rem;
  background-color: #005cb9;
}

footer h4 {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
  text-align: center;
}

/* Footer End */


/* @media (max-width: 80rem) {
  .wrapper .navigation .container {
    float: none;
  }
  nav .container {
    display: block;
  }
  ul .menu li a {
    padding: 0px 20px 10px 20px;
  }
  ul .menu {
    display: none;
  }
  ul li:hover .menu {
    display: block;
  }
} */

/* .challenge_background {
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: linear-gradient(to right, rgba(0, 255, 112, 0.6) , rgba(255, 255, 0, 0.61)), url(../images/challenge_harimoto.jpg);
    margin: auto;
    height: 500px;
    max-width: 900px;   
} */

/* h3 .challenge_statement {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  align-self: center;
  text-align: left;
  width: 80%;
  font-weight: 800;
  font-size: 40px;
  color: white;
  opacity: 0;
  animation: fadeInOut 1s ease-in-out 0s 1 normal forwards;
} */
